<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/confessions/index.css">
    <title>Confessions - APUCP</title>
</head>

<body>
    <%- include('../partials/navbar') %>
    <main>
        <h1>Confessions</h1>
        <section class="confession__list shadow">
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
            <a class="confession__item" href="/confessions/apucp02232">
                <p class="confession__id">#APUCP02232</p>
                <p class="confession__content">
                    last week my phone broke so i bought a new phone now i forgot my gmail account password i reset the
                    password
                </p>
            </a>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/partials/navbar.js"></script>
</body>

</html>