<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <title>#02267 - APUCP</title>
</head>

<body>
    <%- include('../partials/navbar') %>
    <main>
        <h1>APUCP#02267</h1>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/partials/navbar.js"></script>
</body>

</html>