<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/admin/signin.css">
    <title>Sign in - APUCP</title>
</head>

<body>
    <main>
        <img src="/img/logo.jpg" class="apucp__logo" alt="APUCP Logo">
        <form action="/confessions" method="POST">
            <div class="form__item">
                <label for="username" class="form__item-label">Username</label>
                <input type="text" name="" class="form__item-input" id="username">
            </div>
            <div class="form__item">
                <label for="password" class="form__item-label">Password</label>
                <input type="password" name="" class="form__item-input" id="password">
            </div>
            <button class="btn btn-primary signin-btn">Sign in</button>
        </form>
    </main>
</body>

</html>