<footer>
    <div class="footer-content">
        <h2 class="footer__title">Asia Pacific University Confession Page</h2>
        <ul class="footer__list">
            <li>
                <a href="https://www.facebook.com/APUCPv4" class="facebook-link" target="_blank">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li>Copyright @ 2022 APUCP</li>
        </ul>
    </div>
</footer>