<nav class="navbar">
    <img src="/img/logo.jpg" class="navbar__logo" alt="APUCP Logo">
    <a class="nav-toggler">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    <ul class="navbar__list">
        <% if (locals.currentAdmin) { %>
        <li class="navbar__list-item"><a class="txt" href="/confessions">Confessions</a></li>
        <li class="navbar__list-item"><a class="txt" href="/blacklist">Blacklist</a></li>
        <li class="navbar__list-item"><a class="txt" href="/signout">Sign out</a></li>
        <% } else { %>
        <li class="navbar__list-item"><a class="txt" href="/">Home</a></li>
        <li class="navbar__list-item"><a class="txt" href="/disclaimer">Disclaimer</a></li>
        <li class="navbar__list-item"><a class="txt" href="/guidelines">Guidelines</a></li>
        <li class="navbar__list-item"><a class="txt" href="/information">Information</a></li>
        <% } %>
    </ul>
</nav>