<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="css/disclaimer.css">
    <title>Disclaimer - <%= siteTitle %></title>
</head>

<body>
    <%- include('partials/navbar') %>
    <main>
        <img src="/img/disclaimer.png" class="disclaimer-img" alt="Disclaimer Image">
        <div class="disclaimer__content">
            <h1 class="disclaimer__content-title">Disclaimer</h1>
            <p>We are (I am) not affiliated with "Asia Pacific University of Technology & Innovation - APU"
                page in any way. The view and opinion expressed here does not represent the APIIT Education Group nor
                APUCPv4 page admin and belongs solely to the confessor. APUCPv4 is also not a news source. Please do not
                take the post on the page as actual news and always verify it on other genuine sources. </p>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/partials/navbar.js"></script>
</body>

</html>