<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %> 

<body>
     <nav class="nav nav--home">
          <a class="nav-link active" aria-current="page" href="#">Active</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link" href="#">Link</a>
          <a class="nav-link disabled">Disabled</a>
     </nav>

     <%- include('partials/footer') %> 

     <script src="/js/bootstrap.min.js"></script>
</body>

</html>