<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="css/home.css">
    <title><%= siteTitle %></title>
</head>

<body>
    <%- include('partials/navbar') %>
    <main>
        <img src="/img/home.png" class="home-img" alt="Home Image">
        <div class="home__content">
            <h1 class="home__content-title">Welcome to Asia Pacific Unviersity Confession Page (V4)</h1>
            <p>This is yet another APU Confession page, managed single-handedly by a Degree student.
                Unlike all the previous ones, we are much more conservative on what's allowed on the page to
                prevent unnecessary takedowns. If any post makes you feel uncomfortable, please do not
                hesitate to contact us via
                <a href="https://www.facebook.com/APUCPv4" target="_blank">Facebook messenger</a>.
            </p>
            <a href="/confessions/create" class="cta-btn btn btn-primary mt-1">Confess</a>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/partials/navbar.js"></script>
    <script src="/js/home.js"></script>
</body>

</html>