<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="css/information.css">
    <title>Information - APUCP</title>
</head>

<body>
    <%- include('partials/navbar') %>
    <main>
        <img src="/img/akari.gif" class="info-img" alt="Akari">
        <div class="info__content">
            <h1 class="info__content-title">Information</h1>
            <div class="info__content--1">
                <h2 class="info__content-title-2">a) Privacy</h2>
                <p>Worried about your privacy when filling this form? Read our
                    <a href="https://bit.ly/3lkmGuJ" target="_blank">Form Transparency</a>
                    Akari is a human and is bound to make mistake, feel free to contact us on
                    Facebook if you have any concern with the content on the page.</p>
            </div>
            <div class="info__content--1">
                <h2 class="info__content-title-2">b) Common Confessions & Questions</h2>
                <ol class="info__content-list">
                    <li>
                        <a href="https://bit.ly/3GA59s7" target="_blank">University dress code, where to buy clothes</a>
                    </li>
                    <li>
                        <a href="https://bit.ly/3CsYj5h" target="_blank">Accommodation choices</a>
                    </li>
                </ol>
            </div>
            <div class="info__content--1">
                <h2 class="info__content-title-2">c) Dear APU Administrative personnels</h2>
                <h3 class="info__content-title-3">Kindly allow us to stay alive. </h3>
                <p>The admin handling this confession page have much more restrictive view on free speech than the old
                    page. While we agree that sometimes what being posted by some student are defamatory and even could
                    be considered fake news, we don't want a bad apple to made a student-friendly community to be taken
                    down.
                </p>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/partials/navbar.js"></script>
</body>

</html>