/* ############## 1. Reset ############# */
/* Note: reset browser default stylesheet */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* ############## 2. Base  ############# */
/* Note: set base styling for basic HTML elements. */

/* --------- [Variables] ---------- */
:root {
  /* Theme colors */
  --clr-primary: #1A73E8;
  --clr-secondary: #ec6f25;
  --clr-title: #253D4E;
  --clr-text: #5F6368;
  /* Theme font-family */
  --ff-montserrat-title: "montserrat-bold";
  --ff-montserrat-text: "montserrat-medium";
  --ff-montserrat-light: "montserrat-light";
  /* Custom size */
  --layout-header-height: 60px;
}

/* --------- [Fonts] ---------- */
@font-face {
  font-family: "montserrat-bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "montserrat-medium";
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "montserrat-light";
  src: url(../fonts/Montserrat-Light.ttf);
}

/* ---------- [Typography] ----------- */
h1,
h2,
h3,
h4,
h5 {
  color: var(--clr-title);
  font-family: var(--ff-montserrat-title);
}

.txt,
span,
li,
a,
p {
  color: var(--clr-text);
  font-family: var(--ff-montserrat-text);
}

.txt {
  text-decoration: none;
}

a {
  color: var(--clr-primary);
}

li {
  font-family: var(--ff-montserrat-text);
  list-style: none;
}

/* ---------- [Button] ----------- */
.btn {
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
  padding: 0.6em 3em;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: #ffffff;
  font-weight: 700;
}

/* ---------- [Layout] ----------- */
main {
  min-height: calc(100vh - 116px);
  width: 85%;
}

@media (min-width: 1000px) {
  html {
    font-size: 15px;
  }
}