/* ############## 1. Reset ############# */
/* Note: reset browser default stylesheet */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 14px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* ############## 2. Base  ############# */
/* Note: set base styling for basic HTML elements. */

/* --------- [Variables] ---------- */
:root {
  /* colors */
  --clr-primary: #1A73E8;
  --clr-secondary: #ec6f25;
  --clr-delete: #fa2230;
  --clr-theme: #fff;
  --clr-text: #16181D;
  --clr-text-hover: #16181D;
  --clr-link: #1A73E8; 
  --clr-footer: #f1f2f2;
  /* font-family */
  --ff-montserrat-title: "montserrat-bold";
  --ff-montserrat-text: "montserrat-medium";
  --ff-montserrat-light: "montserrat-light";
}

:root.dark {
  --clr-theme: #16181D;
  --clr-text: #DDDDDD;
  --clr-link: #fff;
  --clr-footer: #0c0e10;
  --clr-input-bg: #2e2f32;
}

/* --------- [Fonts] ---------- */
@font-face {
  font-family: "montserrat-bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: "montserrat-medium";
  src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
  font-family: "montserrat-light";
  src: url(../fonts/Montserrat-Light.ttf);
}

/* ---------- [Typography] ----------- */
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--ff-montserrat-title);
}

textarea,
button,
input,
label,
.txt,
li,
a,
p {
  font-size: 1rem;
  font-family: var(--ff-montserrat-text);
  color: var(--clr-text);
}

span {
  font-family: var(--ff-montserrat-text);
}

textarea,
input {
  background-color: var(--clr-input-bg);
}

.txt {
  text-decoration: none;
}

a {
  color: var(--clr-link);
}

li {
  font-family: var(--ff-montserrat-text);
  list-style: none;
}

::selection {
  background-color: #1A73E8;
  color: #ffffff;
}

/* ---------- [Button] ----------- */
.btn {
  border: none;
  border-radius: 1.5em;
  cursor: pointer;
  padding: 0.6em 3em;
  text-decoration: none;
}

.btn-primary {
  background-color: var(--clr-primary);
  color: #ffffff;
  font-weight: 700;
}

/* ---------- [Form] ----------- */
textarea,
input {
  border: 1px solid #DADCE0;
  border-radius: 10px;
}

/* ---------- [Layout] ----------- */
body {
  background-color: var(--clr-theme);
  color: var(--clr-text);
}

main {
  min-height: calc(100vh - 116px);
  width: 85%;
  margin: 0 auto;
}

.shadow {
  box-shadow: 0px 0px 2px 2px #dadada;
  border-radius: 10px;
}

.fa-right-from-bracket {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}