main {
    min-height: 80vh;
    margin: 0 auto 3rem;
    display: flex;
    align-items: center;
}

.guidelines__content-title {
    width: fit-content;
    margin-bottom: 0.8rem;
    border-bottom: 0.15rem solid var(--clr-text);
}

.guidelines__content-title-2 {
    margin: 2rem 0 0.35rem;
}

.guidelines__content--1 li::before {
    content: '🎀 ';
}

.guidelines__content--2 li::before {
    content: '❓ ';
}

.guidelines__content--3 li::before {
    content: '❌ ';
}

.guidelines__blacklist-word {
    padding: 1em;
    margin: 1.2rem 0;
    background-color: var(--clr-footer);
}

.fa-circle-info {
    margin-right: 0.3rem;
}

@media (min-width: 1200px) {
    main {
        width: 70%;
    }
}