main {
    max-width: 920px;
    margin: 3rem auto 6rem;
}

.apucp__logo {
    display: block;
    margin: 0 auto 2rem;
}

.confess__content {
    margin-bottom: 1.3rem;
}

.queue-num {
    font-weight: 700;
    font-size: 1.1rem;
}

.form__item {
    margin: 2rem auto;
}

h2 {
    margin-bottom: 0.3rem;
}

.confession__form-label {
    display: flex;
}

.confession__label-alert {
    color: var(--clr-delete);
    font-size: 1.35rem;
    margin-left: 0.35rem;
}

.confess__input {
    width: 100%;
}

.confess__input--content {
    height: 18rem;
    margin-top: 0.5rem;
    padding: 1.5em;
    resize: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.confess__input--media {
    padding: 1.5em;
    height: 2rem;
}

.confess__input--media:first-of-type {
    margin-bottom: 0.8rem;
}

.err-msg {
    color: var(--clr-delete);
}

.treaty {
    display: flex;
    align-items: center;
    margin-bottom: 1.2rem;
}

.treaty__checkbox {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.8rem;
}

.form__item--action {
    display: flex;
    justify-content: flex-end;
}

@media (min-width: 1200px) {
    main {
        margin: 6rem auto;
        padding: 3em;
        border: 1px solid #DADCE0;
        border-radius: 10px;
    }

    .apucp__logo {
        margin-top: 0;
    }

    .wrapper {
        flex-direction: row;
        justify-content: space-between;
    }

    .confess__input--media:first-of-type {
        margin-bottom: 0rem;
    }

    .confess__input--media {
        width: 49%;
    }
}