main {
    max-width: 850px;
    margin: 3rem auto;
}

.btn-back {
    padding: 0;
}

h1 {
    word-wrap: break-word;
    margin: 1.5rem auto 0;
}

h2 {
    margin-bottom: 0.3rem;
}

.confession__time {
    font-family: var(--ff-montserrat-text);
    font-weight: 100;
}

.form__item {
    margin: 2rem auto;
}

.confession__form-label {
    display: flex;
}

.confession__label-alert {
    color: var(--clr-delete);
    font-size: 1.35rem;
    margin-left: 0.35rem;
}

.err-msg {
    color: var(--clr-delete);
}

.confess__content {
    margin-bottom: 1.3rem;
}

.confess__input {
    width: 100%;
}

.confess__input--content {
    height: 18rem;
    margin-top: 0.5rem;
    padding: 1.5em;
    resize: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.input__item-wrapper {
    display: flex;
    align-items: center;
}

.input__item {
    display: flex;
    flex-direction: column;
}

.confess__input--media:first-of-type,
.add-media-btn {
    margin-bottom: 0.8rem;
}

.confess__input--media:first-of-type {
    margin-bottom: 0.8rem;
}

.confess__input--media {
    padding: 1.5em;
    height: 2rem;
}

.add-media-btn {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

.media__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.8rem;
}

.media__item {
    display: inline-block;
    background-color: var(--clr-footer);
    width: 100%;
    word-wrap: break-word;
    border-radius: 10px;
    margin: 0 0.3rem 0.5rem 0;
    padding: 0.45em 1em;
}

.delete-media-btn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-bottom: 0.35rem;
    cursor: pointer;
}

.confession__action {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.btn-cancel {
    border: 1px solid var(--clr-link);
    margin-bottom: 0.7rem;
}

.btn-cancel:hover {
    background-color: var(--clr-link);
    color: var(--clr-theme);
}

@media(min-width: 342px) {
    .media__item {
        width: fit-content;
    }
}

@media (min-width: 353px) {
    .btn-cancel {
        margin-bottom: 0;
    }
}

@media (min-width: 369.5px) {
    .btn-cancel {
        margin-right: 1rem;
    }
}