main {
    margin: 2.5rem auto 6rem;
    max-width: 850px;
}

h1 {
    text-align: center;
    margin: 1.5rem auto;
}

.confession__item {
    display: block;
    padding: 1em 1.8em;
    border-bottom: 1px solid #A9ACAA;
    text-decoration: none;
}

.confession__item:hover {
    background-color: #F2F2F2;
}

.confession__item:last-of-type {
    border-bottom: none;
}

.confession__id {
    font-weight: 700;
}

.confession__content {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}